$primary-color: black;
@import url(https://fonts.googleapis.com/css?family=Bangers);
html{
  padding: 0;
}
body{
  font-family: 'Bangers', cursive;
  background-color: #FFED39;
  background-image: url("/static/page_bg.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  padding: 0;
}

header{

  padding: 1rem;
  text-align: center;

  background-color: black;
  background-image: url("/static/allvillains.jpg");
  /* Background image is centered vertically and horizontally at all times */

  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 60px;
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
}


h1 {
  padding: 10px;
  text-align: center;
  font-weight: normal;
  color: #3A486F;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2vm;
  z-index: 1000;
  text-shadow: 5px 5px 0 rgb(250, 238, 112);
  transform: skew(0, -6.7deg, false);
  transition: all 0.5s ease-out;
  cursor: default;

}

h1:hover {
  color: #000;
  text-shadow: 5px 5px 0 rgba(255, 237, 57, 0.7);
}

h2 {
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 3vw;
  z-index: 1000;

  text-shadow: 5px 5px 0 rgba(250, 238, 112, 0.7);
  transform: skew(0, -6.7deg, false);
  transition: all 0.5s ease-out;
  cursor: default;

}
.location{
    cursor: pointer;
    border: 4px solid #3A486F;
    margin: 5px;
    background-color: #ffed39;
    width: 300px;
    height: 100px;
}
.current-location{
  background-color: black;
  color: #ffed39;
  margin: 5px;
  border: 4px solid black;
  width: 300px;
  height: 100px;
}


          //Containers
.container{
  margin: 10px;
  padding: 10px;
  //border: solid 1px lightgray;
}
h1 {
  margin: 5px;
}
.search-and-replace-highlight{
  background-color: red;
}

.text-editor{
  padding: 5px;
  border: 1px solid #b8b8b8;
  min-height: 200px;
}

.editor-field{
  padding: 5px;
  border: 1px solid #b8b8b8;
}

.container-center{
  width: 100%;
  display: flex;
  //border: solid 1px lightgray;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-column{
  display: flex;
  //border: solid 1px red;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-column-left{
  display: flex;
  //border: solid 1px red;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.container-row{
  display: flex;
  //border: solid 1px lightgray;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

